@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Frank+Ruhl+Libre&display=swap');

header {
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 100%;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-img {
    width: 100%;
    background-color:black;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #e4e6e8;
    text-shadow: 2px 2px 10px black;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1;
    margin-top: 100px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

body {
    background-color: #7a90ac;
    font-family:  Lato, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #315f89;
}

nav a {
    text-align: center;
    color: #e4e6e8;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #e4e6e8;
    color: #3E5064;
}

.book, .join {
    background-color: #7a90ac;
    color: #e4e6e8;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #7a90ac;
    color: #3E5064;
}

#background{
    background-color: #e4e6e8;
}

.home-title {
    color: #e4e6e8;
    font-family: "Frank Ruhl Libre";
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #e4e6e8;
}

h2 {
    margin: 0;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img {
    border: 10px solid #E4E6E8;
    transition: transform .50s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountains {
    width: 100%;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
} 

.rivers-card {
    width: 100%;
    height: 100%;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {    
    width: 100%;
    height: 100%;
    grid-column: 5/7;
    grid-row: 2/3;    
}

.rapids-card {
    width: 100%;
    height: 100%;
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {    
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
    transform: scaleX(-1);
}

.msg {
    background-color: #315f89;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    z-index: 1;
}

.msg h2 {
    color: #e4e6e8;
    font-family: "Frank Ruhl Libre";
}

.msg p {
    color: #e4e6e8;
    font-size: 18px;
    padding-bottom: 15px;
}

footer {
    background-color: #3e5064;
    color:  #e4e6e8;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social img {
     width: 80px 
}

footer a {
    color:  #e4e6e8;
    text-decoration: none;
}

footer p {
    font-size: 1.3em;
}    

footer p a:hover {
    text-decoration: underline;
}    

footer a:hover {
    color:  #7a90ac;
}

footer .social img {
    padding-top: 15px;
}

.grid {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.idaho-river {
    display: flex;
    background: #e4e6e8;
    margin-bottom: 100px;
    color: #3E5064;
}

.idaho-river .text {
    padding: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.idaho-river img {
    margin: 50px 50px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.utah-river {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 100px;
    color: #E4E6E8;
}

.utah-river .text {
    padding: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    text-align:justify;
}

.utah-river .text h2 {
    text-align: right;
}

.utah-river img {
    margin: 50px 50px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.arizona-river {
    display: flex;
    background: #e4e6e8;
    color: #3E5064;
}

.arizona-river .text {
    padding: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.arizona-river img {
    margin: 50px 50px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }

    .book {
        background-color: #315f89;
        color: #e4e6e8;
        text-decoration: none;
        font-size: 18px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
    }

    .book:hover {
        color: #3e5064;
        background-color: #315f89;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }


    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 100px;
    }
    
    .idaho-river {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #e4e6e8;
        margin-bottom: 100px;
        color: #3E5064;
    }
    
    .idaho-river .text {
        padding: 50px 50px ;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    
    .idaho-river img {
        margin: 50px 0;
        width: 500px;
        height: 500px;
        object-fit: cover;
    }
    
    .utah-river {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        color: #E4E6E8;
    }
    
    .utah-river .text {
        padding: 50px 0 0 50px;
        display: flex;
        flex-direction: column;
        text-align:justify;
    }

    .utah-river .text h2 {
        text-align: justify;
    }
    
    .utah-river img {
        margin: 50px 0;
        width: 500px;
        height: 500px;
        object-fit: cover;
    }
    
    .arizona-river {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #e4e6e8;
        color: #3E5064;
    }
    
    .arizona-river .text {
        padding: 50px 50px;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    
    .arizona-river img {
        margin: 50px 50px;
        width: 500px;
        height: 500px;
        object-fit: cover;
    }

}
    