@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap');


* {box-sizing: border-box;}
*, ::before, ::after { box-sizing: inherit; }

img { border-style: none; } 

#content {
    max-width: 1300px;
    margin: 0 auto;
}

body {
    font-family: 'PT Sans',  sans-serif;
    font-weight: 400;
    color: #e4e4cb;
    text-align: center;
    background-color: #727a8c;
    margin: 0;
    padding: 0;
}

p {
    font-size: 24px;
} 

h2, h3 {
    font-size: 36px;
}

strong, h3 {
    font-weight: 700;
}

h1, h2 {
    font-family: 'Open Sans',  sans-serif;
}

.slide {
    display: none;
}

img {
    vertical-align: middle;
}

header {
    display: grid;
    grid-template-columns: 100px auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

a {
    color: #e4e6e8;
    text-decoration: none;
}

nav a {
    font-size: 20px;
    text-align: center;
    padding: 30px 50px;
    margin: auto 0;
    text-shadow: 1px 1px 1px #000, 
                 3px 3px 5px black; 
}

nav a:hover{
    background-color: #e4e6e8;
    color: #3E5064;
}

.logo {
    width: 150%;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;    
    z-index: 1;
}

.main-banner {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: -100px;
}

.slideshow-container, .main-image {
    grid-row: 1;
    grid-column: 1;
    justify-items: center;
    align-items: center;
    position: relative;
    margin: auto;
}

.main-image {
    width: 1300px;
    height: 800px;
    object-fit: cover;
}

.slideshow-container img {
    width: 1300px;
    height: 800px;
    object-fit: cover;
    object-position: 0 10%;
}

.main-banner h1 {
    grid-row: 1;
    grid-column: 1;
    margin: auto auto;
    z-index: 1;
    font-size: 65px;
    text-shadow: 3px 3px 12px black
}

.united24 img {
    width: 300px;
}

.dot-container {
    text-align: center;
    margin-top: -105px;

}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.introduction {
    margin-bottom: 50px;
}

.introduction h4 {
    padding: 0 50px;
    font-size: 24px;
}

main h3 {
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 0 50px;
}

.first-article, .second-article, .third-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.baner {
    grid-row: 1;
    grid-column: 1/ span 2;
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px 0;
}

.baner img {
    width: 100%;
    grid-row: 1;
    grid-column: 1;
}

.baner h2 {
    width: 100%;
    grid-row: 1;
    grid-column: 1;
    margin: auto auto;
    text-shadow: 2px 2px 10px black;
}


.w3-content {
    grid-row: 2;
    grid-column: 2;
}


.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


/*.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}*/


.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color:  rgba(0, 0, 0, 0)!important; 
}

.w3-display-right, .w3-display-left {
    font-size: 50px;
    position: absolute;
    transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
}

.w3-display-right {
    top: 250px;
    right: -60px;
}

.w3-display-left {
    top: 250px;
    left: -60px;
    padding: 8px 10px;
}


.mySlides1, .mySlides2, .mySlides3 {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.first-article .text, .third-article .text {
    padding: 0 0px 0 20px;
    text-align: justify;
}

.first-article .w3-content, .third-article .w3-content {
    margin-right: 50px;
}

.second-article .w3-content {
    grid-row: 2;
    grid-column: 1;
    margin-left: 50px;
}

.second-article .text {
    padding: 0 20px 0 0;
    text-align: justify;
}

.first-article .baner {
    margin-top: 0;
}

.msg {
    background-color: #315f89;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    z-index: 1;
}


/* Rebuilding page style */

.colored-background, .non-colored-background {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 25px 0;
    margin: 25px;
}

.colored-background {
    background-color: #e4e4cb;
}

.colored-background img, .non-colored-background img  {
    grid-column: 1;
    grid-row: 1;
    width: 610px;
    height: 500px;
}

.colored-background img {
    justify-self: start;
    margin-left: 50px;
}

.non-colored-background img {
    justify-self: end;
    margin-right: 50px;
}

.colored-background .text, .non-colored-background .text {
    grid-column: 1;
    grid-row: 1;
    background-color: #36445f;
    padding: 25px;
    border-radius: 75px;
}

.colored-background .text {
    justify-self: end;
    margin-right: 50px;
    max-width: 650px;
}

.non-colored-background .text {
    justify-self: start;
    margin-left: 50px;
    max-width: 650px;
}

.colored-background p, .non-colored-background p  {
    font-size: 18px;
}

/* Stories page style */

.left-img, .right-img  {
    margin-bottom: 15px;
    width: 600px;
    height: 700px;
    object-fit: cover;
    object-position: right;
}

.left-img {
    float:left; 
    margin-right: 15px;
}

.right-img {
    float:right; 
    margin-left: 15px;
    margin-bottom: 15px;
}

.story {
    text-align: justify;
}

.title {
    margin: 100px 0 0 0;
    font-size: 28px;
}




footer {
    background-color: #2d2a2e;
    color:  #e4e6e8;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social img {
     width: 80px 
}

.social .united24 {
    width: 200px 
}

footer a {
    color:  #e4e6e8;
    text-decoration: none;
}

footer p {
    font-size: 18px;
}    

footer p a:hover {
    text-decoration: underline;
}    

footer a:hover {
    color:  #7a90ac;
}

footer .social img {
    padding-top: 15px;
}
    